<div class="tm-popup">
  <div class="tm-overlayer" ng-click="mediaUploadCtrl.back()"></div>
  <!--  -->
  <div class="tm-popup-container uk-block uk-block-secondary">
    <a class="tm-close" ng-click="mediaUploadCtrl.back()"><span class="ion-close"></span></a>
    <h2 class="uk-text-center">Enviando Captura</h2>
    <form ng-show="$token" ng-submit="mediaUploadCtrl.upload()">
      <div class="uk-flex">
        <div class="uk-width-2-3 uk-margin-right uk-margin-left">
          <p class="grid uk-text-center"><small>Selecione a aula que deseja enviar esta captura</small></p>
            <fieldset>
              <legend>Título</legend>
              <div class="uk-grid">
                <input type="text" class="uk-width-1-1 tm-controls" ng-model="mediaUploadCtrl.title"/>
              </div>
            </fieldset>

            <fieldset>
              <legend>Sobre</legend>
              <div class="uk-grid">
                <textarea type="text" class="uk-width-1-1 tm-controls" max-length="145" ng-model="mediaUploadCtrl.description"></textarea>
              </div>
            </fieldset>

            <fieldset>
              <legend>Aula</legend>
              <div class="uk-grid">
                <select ng-model="mediaUploadCtrl.lesson_id" class="uk-width-1-1">
                  <option ng-repeat="lesson in $profile.lessons" ng-value="lesson.id">{{lesson.name}}</option>
                </select>
              </div>
            </fieldset> <!-- end grid -->

            <fieldset class="uk-margin-top">
              <legend>Privacidade</legend>
              <div class="uk-grid">
                <div class="uk-width-1-2">
                  <input class="uk-form-radio" type="radio" ng-model="mediaUploadCtrl.private" ng-value="0" id="radio-private"/>
                  <label class="uk-form-label" for="radio-private">Privado</label>
                </div>
                <div class="uk-width-1-2">
                  <input class="uk-form-radio" type="radio" ng-model="mediaUploadCtrl.private" ng-value="1" id="radio-public"/>
                  <label class="uk-form-label" for="radio-public">Público</label>
                </div>
              </div>
            </fieldset>
        </div>
        <div class="uk-width-1-3 uk-margin-right uk-margin-left">
          <p class="uk-text-center"><small>{{mediaUploadCtrl.thumb.name}}</small></p>
          <img ng-src="{{ mediaUploadCtrl.thumb.path }}"/>
        </div>
      </div>
      <div class="uk-grid">
        <div class="uk-width-1-1">
          <tags-input ng-model="mediaUploadCtrl.tags" placeholder="Adicionar Tag para assunto" class="uk-width-1-1"></tags-input>
        </div>
      </div>
      <hr>
      <div class="uk-margin-top uk-margin-large-bottom uk-margin-left">
        <br>
        <button class="uk-button uk-button-large uk-button-danger" ng-hide="mediaUploadCtrl.seding" type="submit">Enviar Captura</button>
      </div>
    </form>
  </div>
  <horizontal-loader ng-show="mediaUploadCtrl.seding"></horizontal-loader>
</div>
