<!doctype html>
<html ng-app="pyLousaDigitalApp">
<head>
    <meta charset="utf-8"/>
    <!-- vendor.css -->
    <link rel="stylesheet" href="app/bower_components/uikit/css/uikit.almost-flat.min.css"/>
    <link rel="stylesheet" href="app/bower_components/Ionicons/css/ionicons.min.css"/>
    <!-- end vendor.css -->
    <link rel="stylesheet" href="assets/css/theme.css"/>
</head>
<body>
  <div class="uk-grid tm-base tm-wrapper">
    <nav class="uk-width-2-10 uk-margin-left uk-margin-right tm-nav-left">
      <ul class="uk-nav uk-margin-top">
        <li class="uk-nav-header">Menu</li>
        <li ui-sref-active="active">
          <a ui-sref="media"><i class="ion-images"></i> Minhas Gravações</a>
        </li>
        <li class="uk-active" ui-sref-active="active">
          <a ui-sref="lessons"><i class="ion-university"></i> Minhas Aulas</a>
        </li>
        <li class="uk-active" ui-sref-active="active">
          <a ui-sref="account"><i class="ion-person"></i> Acesso</a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="settings"><i class="ion-gear-b"></i> Configurações</a>
        </li>
      </ul>
    </nav>

    <div class="uk-width-7-10">
      <div class="uk-margin-large-top uk-margin-large-bottom">
        <div ui-view></div>
      </div>
    </div>
  </div>

  <nav class="tm-footer uk-grid">
    <div class="uk-width-8-10 uk-push-1-10 uk-flex uk-flex-middle uk-flex-center">
      <div class="uk-button-dropdown" data-uk-dropdown="{mode:'click'}">
        <!-- This is the element toggling the dropdown -->
        <button class="uk-button uk-button-primary" ng-hide="$isRecording">Iniciar Nova Captura </button>
        <!-- <a class="uk-button-link" data-uk-tooltip="{pos:'top'}" title="Switch to Webcam"> <i class="ion-ios-videocam"></i> </a> -->
        <!-- This is the dropdown -->
        <div class="uk-dropdown uk-dropdown-small uk-dropdown-flip uk-dropdown-up" ng-hide="$isRecording">
            <ul class="uk-nav uk-nav-dropdown">
                <li class="uk-nav-header">Modo de Gravação</li>
                <li><a href="" ng-click="$capture()">Tela e Áudio</a></li>
                <li><a href="" ng-click="$capture()">Webcam, Áudio</a></li>
                <li><a href="" ng-click="$capture()">Tela, Áudio e Webcam</a></li>
            </ul>
        </div>
      </div>
      <button class="uk-button uk-button-danger" ng-show="$isRecording" ng-click="$stop()">Finalizar Captura</button>
    </div>

    <div class="uk-width-2-10 uk-flex uk-flex-middle uk-flex-right tm-right-action">
      <a class="uk-button-link uk-pull-right" data-uk-tooltip="{pos:'top'}" title="Calibrar"> <i class="ion-qr-scanner"></i> </a>
      <a class="uk-button-link uk-pull-right" data-uk-tooltip="{pos:'top'}" title="Calibrar"> <i class="ion-record" ng-show="$isRecording" style="color:red;"></i> </a>
    </div>
  </nav>

  <!-- vendor.js -->
  <script src="app/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="app/bower_components/uikit/js/uikit.min.js"></script>
  <script src="app/bower_components/angular/angular.min.js"></script>
  <script src="app/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
  <!-- end vendor.js -->
  <!-- application -->
  <script src="app/app.js"></script>
  <script src="app/scripts/controllers/media.js"></script>
  <script src="app/scripts/controllers/media-detail.js"></script>
  <!-- end application -->
</body>
</html>
