[Desktop Entry]
Name=Digital Class
Comment=Digital Video Capture
Exec=/usr/lib/digitalclass/src/digitalclass/digitalclass
Terminal=false
Type=Application
Icon=digitalclass
Categories=Recorder;Screen;WebBrowser;
StartupNotify=true
